.Post {
  display: flex;
  margin-bottom: 2em;
  align-items: center;
}
.Post img {
  width: 50px;
  border-radius: 50%;
  margin-top: 0.3em;
}
.Post .text {
  padding: 0 1em;
  color: #444;
}
.Post .text pre {
  font-family: Arial, Helvetica, sans-serif;
  white-space: break-spaces;
  margin: 0;
  line-height: 1.4;
}
