body {
  background: #edeef0;
}
.header {
  height: 50px;
  background: #4a76a8;
  display: flex;
  align-items: center;
}
.header_center {
  width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.header_center .logo {
  width: 2em;
  height: 1.2em;
  display: block;
  background-image: url("images/logo.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
